@charset "UTF-8";
@import url(font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);

*{
	margin: 0;
}

a {
	text-decoration: none;
	color: #ffffff;
}

body {
	font-family: sans-serif;
	background-color: #F5F5F5;
}


.header{
	background-image: url("../images/dark_tint.png") , url("../images/bokeh_car_lights_bg.jpg") ;
	padding: 20px;
	background-size: cover;
}
.content {
	float: left;
	margin-left : 30px;
	font-size: 10px;
}


.nav{
	text-align: right;
	margin: 20px;
}
.nav ul li{
	list-style: none;
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
}

.nav ul li a{
	transition: color .4s ease-in-out;
    color: #757679;
}

.nav ul li a:hover{
	color: #ffffff;
}

.btn{
	border: none;
	border-radius: 25px;
	font-size: 20px;
	font-family: sans-serif;
	padding: 20px 25px;
	color: #444;
	cursor: pointer;
}

.btn-black{
	background-color: #444751;
	color: #fff;
}

.btn-blue{
	background-color: #51B6D9;
	color: #fff;
}

.header-content{
	text-align: center;
	margin: 130px 0;
}

.header-content h2 , p{
	color: #ffffff;
}

.header-content h2{
	font-size: 60px;
}

.header-content p{
	font-size: 25px;
	line-height: 80px;
	margin-bottom: 10px;
}

.header-content button{
	padding: 20px 40px;
	margin-bottom: 45px;
}

.service-header{
	text-align: center;
	color: #474747;
}

.service-header h2{
	font-size: 40px;
	margin-top: 100px;
}

.service-header p{
	color: #9f9f9f;
	font-size: 25px;
    line-height: 50px;

}

/* every thing in this class */
.icon::before {
    font-family: FontAwsome;
    font-style: normal;
}

.big{
	font-size: 40px;
	padding: 7%;
}

.rounded{
	border-radius: 100%;
}

.blue{
	background-color: #3CADD4;
}

.green{
	background-color: #ADD43C;
}

.red{
	background-color: #D43C61;
}

.service-content>*{
	float: left;
	text-align: center;
}

.service-content{
	border-bottom: 1px solid rgba(144, 144, 144, 0.25);
	width: 90%;
	margin: 0 auto;
}
.box{
	background-color: #ffffff;
	border: 1px solid rgba(144, 144, 144, 0.25);
	width: calc(calc(100% / 3) - 82px);
	padding:50px 20px;
	margin: 50px 20px;
}

.box h3{
	color:  #474747;
	margin-bottom: 30px;
	margin-top: 20px;
}

.box p{
	color: rgb(97, 97, 97);
	line-height: 30px;
}

@media screen and (max-width:980px) {
	.box{
		width: 100%;
	}
}

/* ba in kar sevice-content ro az about joda mikonim */
.service-content:after,
.service-content::before {
    content: " ";
    display: block;
    clear: both;
}

.about{
	text-align: center;
	background-color: #ffffff;
	border: 2px solid white;
}

.about-header h2{
	color: #474747;
    font-size: 40px;
	margin-top: 100px;

}

.about-header p{
	color: #9f9f9f;
	font-size: 25px;
    line-height: 50px;
}

.about-content h4{
	color: #474747;
}

.about-content p{
	color: #9f9f9f;
}

.person{
	margin: 50px 50px;
	float: left;
	overflow: auto;
}
.person img{
	border-radius: 100%;
	float: left;
}

.person h4{
	position: relative;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}

.about-content{
	
	width: 80%;
	margin-top: 50px;
	margin: auto;
	border-top: 1px solid rgba(144, 144, 144, 0.25);
	border-bottom: 1px solid rgba(144, 144, 144, 0.25);
	
}

.about-content:after,
.about-content::before {
    content: " ";
    display: block;
    clear: both;
}

.about-footer p{
	color: #282626a3;
	margin: 60px auto;
	text-align: center;
	line-height: 30px;
	width: 80%;
}

.about-footer button{
	margin-bottom: 90px;
}

.contact{
	background-color: #3CADD4;
	text-align: center;
}
.contact-header h2{
	color: #ffffff;
	padding-top: 100px;
	font-size: 40px;
}

.contact-header p{
	color: #ffffff;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 70PX;
}

input[type="text"], 
input[type="email"] {
    width:25%;
	margin-bottom: 40PX;
	border: none;
	border-radius: 4px;
	height: 25px;
	padding:15px 11px;

}
.contact-info textarea{
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 200px;
  border-radius: 4px;
  border: none;
  resize: none;
  padding:15px 25px;
}

.contact-info button{
	margin-top: 20px;
	margin-bottom: 80px;
}
/* input::placeholder{
	margin-left: 70px;
	color: #757679;
} */
::placeholder {
    color: #858585 !important;
    font-size: 15px;
    font-family: "Raleway";
}

.footer{
	background-color: #383B43;
	padding: 100px;
}

.footer ul li{
	list-style: none;
	color: #757679;
	display: inline;
	margin-right: 20px;
}

.footer a{
	color:#757679 ;
}